// Colors
$background-color   : #24272E;
$primary-font-color : #FFFFFF;
$h2-color           : #FFFFFF;
$o-color            : #0AC9F2;
$x-color            : #F20A8A;
$cell-border-color  : #36354C;
$error-color        : #F20A0A;